/* Main text family */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Content Text */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

/* Cursive Text */
@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Basic Colors */
    --white: white;
    --dark-grey: #3A3B3C;
    --black: black;

    /* Theme Colors */
    --theme-font-grey: rgb(117, 117, 117);
    --theme-icon-grey: rgb(155, 155, 155);
    --theme-btn-grey: rgb(179, 177, 177);
    --theme-light-grey-background: rgb(245, 245, 245);
    --theme-green: rgb(131, 167, 155);
    --theme-green-hover: rgb(100, 145, 131);
    --theme-green-opacity: rgba(131, 167, 155, .85);
    --theme-font-white-opacity: rgba(255, 255, 255, .75);
    --theme-grey-background: rgb(234, 234, 234);
    --theme-linebreak-color: rgb(224, 224, 224);
    --theme-background-color: rgb(248, 246, 239);

    /* Fonts */
    --script-font-family: 'Herr Von Muellerhoff', cursive;
    --content-font-family: 'Libre Baskerville', serif;
    --open-sans-font-family: "Open Sans", sans-serif;
    --lato-font-family: Lato, sans-serif;

    /* Mobile - Hamburger Menu */
    --hamburger-menu-speed: 0.75s;

}

/* =================
    Universal Styles
    ================ */

/* NOTE: All Media Queries for Universal Styles is on this page */

body {
    background-color: white;
    font-family: 'Poppins', sans-serif;
    line-height: 1.2;
}    

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.body-container {
    max-width: 1150px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

.container {
    width: 100%;
    padding: 0 2rem;
}

/* Universal Font Styles */
.theme-h5-lowercase {
    color: var(--dark-grey);
    font-size: 1rem;
    font-weight: 400;
}

.theme-h5-uppercase {
    text-transform: uppercase;
    color: var(--dark-grey);
    font-weight: 400;
    font-size: 1rem;
}

.theme-h2-main-title {
    font-family: var(--content-font-family);
    font-size: 1.5rem;
    font-weight: normal;
    
}

.main-contents-right-about-me .theme-h2-main-title,
.latest-posts-item-info .theme-h2-main-title,
.summary .theme-h2-main-title,
.cuisine-main-contents-left-item .theme-h2-main-title,
.you-may-like-card-item .theme-h2-main-title {
    font-size: 1rem;
    margin-bottom: .7rem;
}

.theme-p-title-uppercase {
    text-transform: uppercase;
    font-weight: 100;
    font-size: .9rem;
}

.theme-p-title-lowercase {
    font-weight: 200;
    font-size: .8rem;
}

.theme-p-paragrah {
    color: var(--theme-font-grey); 
    font-size: .9rem;
    line-height: 1.3rem;
    font-family: var(--open-sans-font-family);
    font-weight: 200;
}

/* Universal Button Styling */
.btn {
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding: 0.6350em 1.2500em;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.theme-btn-font {
    text-transform: uppercase;
    font-weight: 100;
    font-size: .6rem;
    letter-spacing: 2px;
}

.theme-main-btn {
    border: 1px solid var(--theme-btn-grey);
    color: var(--dark-grey);
    padding: 1em 1.7500em;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: .6rem;
    margin: 20px 0 10px 0;
}

/* Universal Linebreak Styling */
.linebreak {
    border-bottom: 1px solid var(--theme-linebreak-color);
    margin: 2rem 0;
}

/* Focus State Styling */
.navbar-left-top a:focus,
.search-form .form-control input:focus,
.navbar li a:focus,
.subscribe-form input[type='email']:focus,
.subscribe-form input[type='subscribe']:focus,
.main-contents-left-showcase a:focus,
.main-contents-left-item-right a:focus,
.older-posts-btn a:focus,
.about-me-icons a:focus,
.instagram-banner a:focus,
.promo-info-text a:focus,
.newsletter-form input[type='email']:focus,
.newsletter-form input[type='button']:focus,
.tags-content a:focus,
.search-form  input[type='text']:focus,
.search-form input[type='button']:focus,
.instagram-banner-section-banner a:focus,
.highlight-icons a:focus,
.latest-posts-item-info a:focus,
.footer-contents-left a:focus {
    box-shadow:
        0 0 0 3px white,
        0 0 0 5px var(--theme-green);
}

.social-media-icon-banner-contents a:focus {
    box-shadow:
        0 0 0 5px var(--theme-green),
        0 0 0 7px var(--white);
}
/* Traditional focus state has been removed, but replaced with theme styling above */
.about-me-icons a,
.navbar li a,
.navbar-left-top a,
.about-me-icons a,
.search-form input[type='search'],
.subscribe-form input[type='email'],
.subscribe-form input[type='subscribe'],
.main-contents-left-showcase .theme-h2-main-title,
.main-contents-left-item-right .theme-h2-main-title,
.main-contents-left-showcase a,
.main-contents-left-item-right a,
.older-posts-btn .theme-main-btn,
.instagram-banner .theme-main-btn,
.promo-info-text .theme-main-btn,
.newsletter-form input[type='email'],
.newsletter-form input[type='button'],
.tags-content a,
.search-form  input[type='text'],
.search-form input[type='button'],
.instagram-banner-section-banner a,
.highlight-icons a,
.latest-posts-item-info a,
.social-media-icon-banner-contents a,
.footer-contents-left a:hover {
    outline: none;
}

/* ======== 
    NAVBAR 
   ======== */
/* Styles contents within this section */
.navbar {
    padding: 2rem 0 .5rem 0;
}

.navbar-contents {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.navbar-title h1 {
    font-size: 7rem;
    font-family: var(--script-font-family);
    font-weight: lighter;
    line-height: 70%;
    color: var(--dark-grey);
}

.navbar-title p {
    color: var(--theme-font-grey);
    font-size: .9rem;
    margin: .3rem 0 0 1rem;
}

.navbar-contents-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.navbar-left-top {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
}

.navbar-left-top a,
.about-me-icons a,
.highlight-icons a {
    margin: .8rem;
    border-radius: 50%;
    width:1rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.navbar-left-top i,
.single-post-social-icons i {
    color: var(--theme-icon-grey);
    font-size: .8rem;
}

.navbar-left-top i:hover {
    color: var(--theme-green);
}
.search-forms{
    position: relative;
}
.search{
    border-radius: 10px;
     padding: 1.4350em .1500em 1.4350em 1.500em;
    background-color: black;
    display: flex;
    align-items: center;
    background-color: var(--theme-light-grey-background); 
    height: 20px;
    width: 0px;
   position: relative;
   opacity: 0;
   transition: all .5s ease;
   border-color:var(--theme-light-grey-background);
   border: none;
}

.search-forms input::placeholder  {
    font-size: .7rem;
    font-family: sans-serif;
    color: var(--theme-font-grey);

    
}
 .search-forms input[type='search'] {
    border: none;
    background-color: var(--theme-light-grey-background);
}


/* .search-form input[type='search'] {
    border: none;
    width: 80%;
    background-color: var(--theme-light-grey-background);
}

.search-form input::placeholder  {
    font-size: .9rem;
    font-family: sans-serif;
    color: var(--theme-font-grey);
    
}
.search-form .form-control {
    padding: 0.4350em 0.1500em;
    background-color: black;
    display: flex;
    align-items: center;
    background-color: var(--theme-light-grey-background);
}

.form-control i {
    color: var(--theme-icon-grey);
    margin: 0 .5rem;
} */

.navbar-left-bottom ul {
    display: flex;
}

.navbar li a {
    color: var(--theme-font-grey);
    margin-left: 3rem;
}

.navbar li a:hover {
    color: var(--theme-green);
    border-bottom: 1px solid var(--theme-green);
    margin-bottom: -1px;
}


/* ======
Added styles for animation and functionality 
=========
 */
 html{
     scroll-behavior: smooth;
 }
 

 .back-to-top{
    font-size: 1.5rem;
   position: fixed;
   color: var(--theme-green);
   background: var(--theme-light-grey-background);
   right: 3rem;
   bottom: 5rem;
   z-index: 999;
   width: 40px;
   height: 40px;
   display: grid;
  place-items: center;
   border-radius: 50%;
   transition: all 1s ease;
   animation: bounce 1s infinite 2s;
   visibility: hidden;
  opacity: 0;
 }
 .show-back-to-top{
     visibility: visible;
    opacity: 1; 
 }
 .back-to-top:hover{
     background:var(--theme-green);
     color: var(--white)
 }
 @keyframes bounce{
     0%{
       transform: scale(1);  
     }
     50%{
         transform: scale(1.1);
     }
     
     100%{
        transform: scale(1);
     }
 }
.navbar-title h1:hover{
 color: var(--theme-green-hover);
 transition: all .3s ease;
}
.navbar-left-top a:hover{
    color: var(--theme-green-hover);
    transition: all .3s ease;
}
.form-control.btn{
    position: relative;
    width: 0%;
 
}
.search:focus{
  outline: none;
}
i.fas.fa-search{
    position: absolute;
    right: 0;
    top: 33%;
    cursor: pointer;
    
}

.form-control.current .search{
    opacity: 1;
    width: 100%;
    transition: width .5s linear;
}


.navbar-left-bottom  li a:hover{
    color: green;
    transition: all .3s ease-in-out;
    font-size: 1rem;
   
}
/* main */
.main-content:hover .main-contents-item-text{
transform: translateY(0);

}

/* subscribe */
.subscribe:hover .dont{
color: red;
transition: .5s ease;
}
.main-contents-left-showcase img:hover{
 transform: scale(0.985);
 opacity: 0.9;
 cursor: pointer;
 border: 5px solid var(--theme-green-opacity);
 transition: all .5s ease-in-out;
}
.subscribe{
    opacity: 0;
    transform: translateY(50%);
    transition: all 1.5s ease;
    /* transition-delay: .5s; */
}
.fade-subscribe{
    opacity: 1;
    transform: translateY(0);
}

.about{
    opacity: 0;
    transform: translateX(50%);
    transition: all 1.5s ease;
    
}
.about:hover{
    transform: scale(1.05);
}
.show-about{
    opacity: 1;
    transform: translateX(0);
    transition-delay: .5s;
}
.insta{
    opacity: 0;
    transform: translateX(50%);
    transition: all 1.5s ease;  
}

.show-ig{
    opacity: 1;
    transform: translateX(0);
    transition: all 1.5s ease;
     transition-delay: .5s;
}
.latestp{
    opacity: 0;
    transform: translateX(50%);
    transition: all 1.5s ease;
    /* transition-delay: 1s; */
}
.show-post{
    opacity: 1;
    transform: translateX(0);
    transition: all 1.5s ease;
    
}
.show{
   opacity: 0;
    transform: translateY(50%);
     
}
.show-show{
    opacity: 1;
    transform: translateY(0);
    transition: all 1.5s ease;
    /* transition-delay: 1s; */
}
.sweet{
    opacity: 0;
    transform: translateY(50%);
    transition: all .1s ease;
    
}
.show-sweet{
    opacity: 1;
    transform: translateY(0);
    transition:  all 2s ease;
     /* transition-delay: 1s; */
}
.sushi{
    opacity: 0;
    transform: translateY(30%);
    transition: transform 1s ease;
}
.show-sushi{
    opacity: 1;
    transform: translateY(0);
    transition: all 1s ease;
    
}
.sushii{
    opacity: 0;
    transform: translateY(30%);
    transition: transform 1s ease;
}
.show-sushii{
    opacity: 1;
    transform: translateY(0);
    transition: all 1s ease;
    
}
.sushi1{
    opacity: 0;
    transform: translateY(30%);
    transition: transform 1s ease;
}
.show-sushi1{
    opacity: 1;
    transform: translateY(0);
    transition: all 1s ease;
    
}
.fish{
    opacity: 0;
    transform: translateY(30%);
    transition: transform 1s ease;
}
.show-fish{
    opacity: 1;
    transform: translateY(0);
    transition: all 1s ease;
    
}
.chocolate{
    opacity: 0;
    transform: translateY(50%);
    transition: transform 1s ease;
}
.show-chocolate{
    opacity: 1;
    transform: translateY(0);
    
    
}
.dchocolate{
    opacity: 0;
    transform: translateY(50%);
    transition: transform 1s ease;
}
.show-dchocolate{
    opacity: 1;
    transform: translateY(0);
    /* transition: all 1s ease; */
    
}
.latest{
    opacity: 0;
    transform: translatex(100%);
    transition: transform 1s ease;
}
.show-latest{
    opacity: 1;
    transform: translatex(0);
    /* transition: all 1s ease; */
    
}
.lastest{
    opacity: 0;
    transform: translateY(50%);
    transition: transform 1s ease;
}
.show-lastest{
    opacity: 1;
    transform: translateY(0);
    /* transition: all 1s ease; */
    
}
.follow{
    opacity: 0;
    transform: translatex(100%);
    transition: transform 1s ease;
}
.show-follow{
    opacity: 1;
    transform: translatex(0);
    /* transition: all 1s ease; */
    
}
.breakfast{
    opacity: 0;
    transform: translatex(100%);
    transition: transform 1s ease;
}
.show-breakfast{
    opacity: 1;
    transform: translatex(0);
    /* transition: all 1s ease; */
    
}
.news{
    opacity: 0;
    transform: translatex(100%);
    transition: transform 1s ease;
}
.show-news{
    opacity: 1;
    transform: translatex(0);
    /* transition: all 1s ease; */
    
}
.lucy{
    opacity: 0;
    transform: translateY(30%);
    transition: transform 1s ease;
}
.show-lucy{
    opacity: 1;
    transform: translateY(0);   
}
.like{
    opacity: 0;
    transform: translateY(30%);
    transition: transform 1s ease;
}
.show-like{
    opacity: 1;
    transform: translateY(0);   
}
.coment{
    opacity: 0;
    transform: translateY(30%);
    transition: transform 1s ease;
}
.show-coment{
    opacity: 1;
    transform: translateY(0);   
}


.control-comments{
    display: none;
    opacity: 0; 
  transition: all 1s ease-in-out;
}
 .show-comments{
     opacity: 1;
    display: block;
  
}
.comments-container-item-all{
    position: relative;
}
.more-comments{
    position: absolute;
    right: -2px;
    bottom: -20px;
    border: none;
    font-size: .7rem;
    background-color: var(--theme-light-grey-background);
    padding: 0.4em 0.75em;
    margin: 0.2rem;
    text-align: left;
    color: var(--theme-font-grey);
}
.more-comments:hover{
    background: var(--theme-green-hover);
    color: white;
    transition: all .5s ease;
}

/* buttons */
.buttons{
    position: relative;
    background-color: red;
}
.buttons::before{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: white;
    background: var(--theme-green-hover);
    transition: all .5s ease;
}



/* ======
End ofAdded styles for animation and functionality 
=========
 */



/* =====
    Main 
   ===== */
.main {
    margin-bottom: 2.5rem;
    overflow: hidden;
}
.main-contents-section{
    overflow: hidden;
}

.main-contents {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
   overflow: hidden;
    
}


.main-contents-item {
    position: relative;
    z-index: -1;
    transition: all .5s ease;
   
}

.main-contents-item img {
    width: 100%;
    height: 30rem;
   
}

.main-contents-item-text {
    position: absolute;
    z-index: 2;
    bottom: 0;
    background-color: var(--theme-green-opacity);
    padding: 1rem .9rem;
    color: var(--theme-font-white-opacity);
    text-align: center; 
    transform: translateY(100%);
    transition: transform .5s ease;
    transition: all .5s ease;
}

.main-contents-item-text h2 {
    margin-bottom: 1rem;
    
}


/* ========== 
    SUBSCRIBE 
   ========== */
.subscribe {
    background-color: var(--theme-grey-background);
    padding: 1.5rem 0;
    margin: 0 2rem 2.5rem 2rem;
}

.subscribe-contents {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    
}

.subscribe-contents-left h5 {
    margin-bottom: .5rem;
    font-family: var(--open-sans-font-family);
}

.subscribe-contents-left p {
    font-family: var(--open-sans-font-family);
}

/* Subscription Form Styles */
.form-control {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}


.subscribe-form input[type='email'],
.subscribe-form input[type='subscribe'] {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.subscribe-form input[type='email'] {
    border: none;
    width: 60%;
}

.subscribe-form input::placeholder  {
    font-size: .8rem;
    font-family: sans-serif;
    font-weight: lighter;
    color: lightgrey;
}

.subscribe-form input[type='subscribe'] {
    border: none;
    background-color: var(--theme-green);
    color: var(--white);
    padding: 1em 1.7500em;
    width: 20%;
    transition: .5s ease;
}

.subscribe-form input[type='subscribe']:hover {
    background-color: rgb(17, 110, 17);
    opacity: 0.5;
}


/* ============== 
    MAIN CONTENTS 
   ============== */
.main-contents-section {
    margin-bottom: 2.5rem;
}

.main-contents-body {
    display: grid;
    grid-template-columns: 2.6fr 1.2fr;
    gap: 2rem;
}

.main-contents-left-showcase {
    text-align: center;
    position: relative;
}

.main-contents-left-showcase img {
    width: 100%;
    height: 40rem;
    object-fit: cover;
    position: relative;
    transition: transform .5s ease;
   
   
}

.main-contents-left-showcase .theme-h2-main-title {
    margin-top: 20px;
}

.main-contents-left-showcase .theme-h2-main-title,
.main-contents-left-item-right .theme-h2-main-title,
.recipe-card-info-left .theme-h2-main-title {
    display: inline-block;
    color: var(--dark-grey);
    margin-bottom: 10px;
}

.main-contents-left-showcase a:hover,
.main-contents-left-item-right a:hover,
.recipe-card-info-left a:hover {
    color: var(--theme-green);
}

.main-contents-left-showcase .title-p,
.main-contents-left-item-right .title-p,
.latest-posts-item-info .title-p,
.main-contents-right-newsletter .title-p,
.tags-content .title-p,
.footer-contents-left a,
.footer-contents-right p,
.single-recipe-contents-left-showcase p,
.recipe-card-info-left p,
.nutrition-item p,
.you-may-like-card-item p,
.comments-container-item-info p,
.comments-container-title a,
.single-post-tags a {
    font-family: var(--lato-font-family);
    color: var(--theme-font-grey);
}

.prep span {
    margin-right: .3rem;
}

.main-contents-left-showcase .prep {
    align-items: center;
    justify-content: center;
}

.main-contents-left-showcase .prep,
.main-contents-left-item-right .prep {
    display: flex;
    margin: 1.3rem 0;
    color: var(--theme-font-grey);
}

.prep p:first-child {
    margin-right: 1rem;
}

.main-contents-left-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
}

.main-contents-left-item img {
    width: 100%;
    height: 21rem;
}

/* Older Posts Button */
.older-posts-btn {
    display: flex;
    justify-content: flex-end; 
}

.older-posts-btn .theme-main-btn {
    margin-top: 0;
}

/* Main Right Section */
.main-contents-right-item {
    border: 1px solid var(--theme-linebreak-color);
    padding: 1rem;
    text-align: center;
    margin-bottom: 2rem;
}

.main-contents-right-item .theme-h5-uppercase,
.highlights-contents-item-posts .theme-h5-uppercase,
.ingredients .theme-h5-uppercase,
.method .theme-h5-uppercase,
.notes .theme-h5-uppercase,
.nutrition .theme-h5-uppercase,
.lucy-thema-contents .theme-h5-uppercase,
.you-may-like .theme-h5-uppercase,
.comments .comments-title {
    border-bottom: 1px solid var(--theme-green);
    margin-bottom: 1rem;
    display: inline-block;
    line-height: 2rem;
}

/* About Me */
.main-contents-right-about-me img {
    width: 100%;
    height: 12rem;
    margin-bottom: 1rem;
}

.about-me-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-me-icons i,
.summary i,
.social-media-links i,
.lt-social-media-links-icons i {
    color: var(--theme-icon-grey);
    margin: 1rem .4rem;
}


/* Instagram */
.instagram-squares {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .4rem;
    position: relative;
}

.instagram-squares img {
    height: 7rem;
    width: 100%;
}

.instagram-banner {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 37.5%;
}

.instagram-banner .theme-main-btn,
.promo-info-text .theme-main-btn,
.instagram-banner-section-banner .theme-main-btn {
    padding: 1.5em 2.7500em;
    font-size: .7rem;
    background-color: var(--white);
    border: none;
}

.instagram-banner .theme-main-btn:hover,
.promo-info-text .theme-main-btn:hover,
.instagram-banner-section-banner .theme-main-btn:hover {
    background-color: var(--theme-green);
    color: var(--white);
}


.instagram-banner .theme-main-btn span {
    margin-right: .3rem;
}

/* Latest Posts */
.latest-posts-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    margin-top: .5rem;
}

.latest-posts-item img {
    height: 7rem;
    width: 100%;
}

.latest-posts-item-info {
    text-align: left;
}

.latest-posts-item-info .theme-h2-main-title {
    color: var(--dark-grey);
}

.latest-posts-item-info .theme-h2-main-title:hover {
    color: var(--theme-green);
}

.latest-posts-item-info .title-p {
    margin-top: .5rem;
}

/* Breakfast Delights */
.breakfast-delights-img img {
    width: 100%;
    height: 15rem;
}

/* Chocolate Lovers */
.promo-info img {
    width: 100%;
    height: 20rem;
}

.promo-info {
    position: relative;
}

.promo-info-text {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 37.5%;
}

.promo-info-text a {
    background-color: var(--white);
}

/* Newsletter & Subscribe Styling */
.newsletter-form input[type='email'],
.search-form input[type='text'] {
    width: 100%;
    margin-top: .8rem;
    border: 1px solid var(--theme-btn-grey);
    color: var(--dark-grey);
    padding: .9em 1em;
    cursor: pointer;
    display: inline-block;
}

.newsletter-form input::placeholder,
.search-form input::placeholder  {
    font-size: .8rem;
    font-family: var(--lato-font-family);
    color: var(--theme-font-grey);
    text-transform: capitalize;
    font-weight: lighter;
    color: lightgrey;
}

.newsletter-form input[type='button'],
.search-form input[type='button'] {
    background-color: var(--white);
    padding: .9em 1em;
    width: 100%;
    text-align: center;
    margin: 1rem 0 .5rem 0;
    border: 1px solid var(--theme-btn-grey);
    color: var(--dark-grey);
    cursor: pointer;
    display: inline-block;
}

.newsletter-form input[type='button']:hover,
.search-form input[type='button']:hover {
    background-color: var(--theme-green-hover);
    color: var(--white);
}

/* Tags */
.tags-content {
    display: flex;
    flex-wrap: wrap;
}

.tags-content a,
.comments-container-title a,
.single-post-tags a {
    font-size: .7rem;
    background-color: var(--theme-light-grey-background);
    padding: .4em .7500em;
    margin: .2rem;
    text-align: left;
}

.tags-content a:hover,
.comments-container-title a:hover,
.single-post-tags a:hover {
    background-color: var(--theme-green);
    color: var(--white);
}

/* ========================= 
    Instagram Banner Section 
   ========================= */
.instagram-banner-section {
    margin-top: -2rem;
}

.instagram-banner-section .container {
    padding: 0;
}

.instagram-banner-section-squares {
    display: grid;
    grid-template-columns: repeat(auto-fit, 143.75px);
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    margin: 0 auto;
}

.instagram-banner-section-squares img {
    width: 100%;
    height: 10rem;
}

.instagram-banner-section-banner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}


/* ===========
    Highlights 
   =========== */
.highlights {
    padding: 2.5rem 0;
    background-color: var(--theme-background-color);
    text-align: center;
}

.highlights-contents {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.summary p,
.highlight-icons {
    text-align: left;
}

.highlight-icons {
    display: flex;
    justify-content: start;
}

.highlight-icons a:first-child {
    margin-left: 0;
}

/* =========================
    Social Media Icon Banner 
   ========================= */
.social-media-icon-banner {
    padding: 1.5rem 0;
    background-color: var(--theme-green);
}

.social-media-icon-banner-contents {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.social-media-icon-banner-contents i {
    margin-right: .5rem;
}

.social-media-icon-banner-contents .theme-h5-uppercase {
    color: var(--white);
    font-size: .7rem;
    font-weight: 200;
}

.social-media-icon-banner-contents .theme-h5-uppercase:hover {
    color: var(--dark-grey);
}


/* =======
    Footer 
   ======= */
.footer {
    padding: 1.5rem 0;
    background-color: var(--theme-background-color);
}

.footer-contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .85rem;
}

.footer-contents-left a {
    margin-right: 1rem;
}

.footer-contents-left a:hover {
    color: var(--theme-green);
}